@use "./scss/variables.scss" as *;
@import "bootstrap/scss/bootstrap";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

// ASSETS
.btn-outline-primary {
  color: $accent;
  border-color: $accent;

  &:hover {
    background-color: $accent;
    border-color: $accent;
    color: $text-primary;
  }
}

.my-btn-primary {
  background-color: $accent;
  border-color: $accent;

  &:hover {
    background-color: $accent;
    border-color: $accent;
    opacity: 0.8;
  }
}
